body {
    background-color: #e4f9f5;
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

h1 {
    color: #66BFBF; 
    margin: 3rem auto 0 auto; /* need to use margin: when setting width:*/
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
}

h2 {
    color: #66BFBF; 
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color:#11999E; 
}

a {
    color:#11999E; 
}

hr {
    color:#11999E; 
}

.top-container {
    margin: 5.5rem auto;
    position: relative;
}

.profile-pic {
    height: 8em;
    width: 8em;
    border-radius: 100%;
}

.top-cloud {
    position: absolute;
    right: 20rem;
    top: 3rem;
}

.bottom-cloud {
    position: absolute;
    left: 20rem;
    bottom: 20rem;
}

.middle-container {
    margin: 5.5rem auto 5.5rem;
    position: relative;
}

.skill-row {
    width: 50%;
    margin: 2em auto 2em;
    text-align: left;
}

.climber-img {
    float: left;
    height: 8em;
    width: 8em;
    margin-right: 1em;
    border-radius: 100%;
}

.programming-img {
    float: right;
    height: 6em;
    width: 6em;
    border-radius: 100%;
}

.bottom-container {
    position: relative;
}